{% extends "base.html" %}


{% block title %}Upload image{% endblock %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
        <div>
            <h3>Upload an Image</h3>
        </div>
        <div class="--display --w-100 --h-40">
            <form class="--display --w-60 --h-100" method="POST" enctype="multipart/form-data" action="/upload">
                <div class="choose-file">
                    <input class="" type="file" name="image" id="file-input" accept="image/*" required />
                </div>
                <div class="--display --dim">
                    <label for="file-input" class="input-file --display -dim-2">
                        <span class="file-input-label">&plus;</span>
                    </label>
                </div>
                <div class="submit --display">
                    <input id="submit-btn" type="submit" value="Submit" />
                    <label for="submit-btn" class="-btn">
                        <span>Submit</span>
                    </label>
                </div>
            </form>
        </div>
        <div>
            <h4>{{ error_message }}</h4>
        </div>
{% endblock %}
